.square_btn{
    position: relative;
    top:0vh;
    left:-1vh;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
    font-family: 'Signika', sans-serif;
}

.square_btn:hover {
    background: #668ad8;
    color: #FFF;
}

body#menu {
    background-color: #abcdba;
    background-size: contain;
    height: 100vh;
    width:100vw;
}

div#header {
    background-color: #e1f3ff;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 100vw;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    text-align: center;
    font-size: 9vh;
    font-family: 'Signika', sans-serif;
}

div#header::before{
    margin: 0px 5px 0 0;
    content: "";
    display: inline-block;
    background-image: url("/static/raspberry-pi-logo.png");
    background-size: contain;
    height: 60px;
    width: 48px;
    vertical-align: top;
}

div#content{
    position: relative;
    top:10vh;
    left:1vw;
    font-family: 'Signika', sans-serif;
}

.select_dropdown{
    position: relative;
    left: 1vw;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
    font-family: 'Signika', sans-serif;
}

.select_dropdown:hover {
    background: #668ad8;
    color: #FFF;
}
label#choose_file{
    position: relative;
    top:0vh;
    left:-1vh;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
    font-family: 'Signika', sans-serif;
}

label#choose_file:hover {
    background: #668ad8;
    color: #FFF;
}